<app-navbar head="Our Product"
    subhead="Get effective solution for your business. Get all types of corporate solutions to start your adventure with REI Property Invest">
</app-navbar>

<section class="features-started-steps back-img mb-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class=" text-center"><img
                        src="https://www.reipropertyinvest.in/static/media/talk-business.52cb485bff5f8074fc506f5a15332992.svg"
                        width="150" class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">Let's talk business</p>
                    <p class="fs-5">Discuss with us your Podio business requirements. We will 100% help you to run your
                        business successfully.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 arrow-shape">
                <div class="text-center"><img
                        src="https://www.reipropertyinvest.in/static/media/price-package.c3a71989c6ec61731d3334553c246acf.svg"
                        width="150" class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">Choose a price package</p>
                    <p class="fs-5">Choose a price package that suits your business. The more features you make
                        available, the more you connect with your clients. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class=" text-center"><img
                        src="https://www.reipropertyinvest.in/static/media/deliver-podio-pack.e08524aa2b8dcd92fa810fd4e5059c16.svg"
                        width="150" class="img-fluid" alt="">
                    <p class="fs-4 fw-bold my-3">We deliver your Podio pack</p>
                    <p class="fs-5">Our Podio customization services guarantee performance, efficiency, and automation
                        in your business.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="product-short-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 section-1 g-3 d-flex justify-content-center align-items-center">
                <img src="https://www.reipropertyinvest.in/static/media/podio-img-suit.d2c66128fff6333678b3.jpg" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 section-2 d-flex justify-content-center align-items-center text-center">
                <div>
                    <h1 class="pt-3 fs-1">Podio Suite</h1>
                    <h3 class="py-3">The Best Selling Real Estate CRM</h3>
                    <p class="fs-5 ">Unleash the full potential of the Podio by using our ultimate product. With years
                        of experience and prowess in Podio customization, we bring you the only ready to go, fully
                        functional and customised futuristic solution for your business.</p>
                    <div class="pt-3">
                        <a href="" class="btn btn-vary1">Book a demo</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="podio-crm-suit-apps mb-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                <div class="header-section">
                    <h3 class="title">Podio CRM Suite for Real Estate</h3>
                    <h2 class="small-title">Imagine being able to perform everything listed below with only a few clicks!</h2>
                </div>
            </div>
        </div>
        <marquee direction="up" height="500px" loop="">
            <div class="row justify-content-center mx-lg-5 mx-2 gx-lg-3 gy-lg-3 gx-2 gy-2">
                <div class="col-lg-5 col-md-5 d-flex ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/sms-comment.629a4f801ec8d1dd53e5.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>SMS on Comments</span></h6>
                        <p class="fs-5">SMS on Comments for instant messaging to your Leads/Buyers</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex  ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/mail-comment.509909c23a11a979f27a.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Email on Comments</span></h6>
                        <p class="fs-5"> Email on Comments for instant messaging to your Leads/Buyers</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/followup-sequence.50b49abecfc168c9c2af.png" alt="">
                        </div>
                        <h6 class="fw-bold my-3 fs-5"><span>Followup Sequences</span></h6>
                        <p class="fs-5">Followup Sequences to follow your Leads</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/drip-campeign.72adc77accc45629fdc9.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Drip Campaign</span></h6>
                        <p class="fs-5">Drip Campaigns for Emails and Texts</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/street-ariel-view.752039e36d88a04dd075.png" alt="">
                        </div>
                        <h6 class="fw-bold my-3 fs-5"><span>Street and Aerial View</span></h6>
                        <p class="fs-5">Street and Aerial View of the property</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/email-blast.5592888f6254a6050958.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Email Blasts</span></h6>
                        <p class="fs-5">Email Blasts to send Email Marketing Campaign</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/kpi.c311f8c917b8bfe1a8da.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>KPI and Lead Source</span></h6>
                        <p class="fs-5">KPI and Lead Source to track your Campaigns</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/set-appointment.1a1a8deb9b353b3bd70e.png" alt="">
                        </div>
                        <h6 class="fw-bold my-3 fs-5"><span>Set Appointments</span></h6>
                        <p class="fs-5">Set Appointments with your Leads and get tasks made for your Lead Owners
                            automatically</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/reminder.04262b64eb7bb4eb0de4.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Send Reminder SMS/Email</span></h6>
                        <p class="fs-5">Send reminder SMS/Email to your Lead for Appointments</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/patlive.02463ffac533d1694dbf.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Patlive App</span></h6>
                        <p class="fs-5">Patlive app for your Cold Callers</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/seperate-app.85d476063800a1ce79d5.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Separate App</span></h6>
                        <p class="fs-5">Separate app for your Web Leads</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/sms-logs.d1c244cb832ba91d5888.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>SMS Log App</span></h6>
                        <p class="fs-5">SMS log app for your all Inbound SMS and reference to Leads/Buyers app</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/call-logs.072f8a5ecf75d8276014.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Call Logs App</span></h6>
                        <p class="fs-5">Call logs app for your all Inbound/Outbound Calls and reference to Leads/Buyers
                            app</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/email-logs.841adc87fc267615b856.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Email Logs</span></h6>
                        <p class="fs-5">Email Logs for your Inbound/Outbound Emails</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/note-log.9a15dcbf036ffeb116ad.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Notes Logs</span></h6>
                        <p class="fs-5">Notes Logs for all the notes you make are keep intact</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-flex   ">
                    <div class="bg-white p-4 rounded-3 apps-card">
                        <div class="icon"><img src="/static/media/feed-app.f9710bdfd1d6a1431a36.png" alt=""></div>
                        <h6 class="fw-bold my-3 fs-5"><span>Feeds App</span></h6>
                        <p class="fs-5">Feeds app and Communication Logs to display all the Communications(Inbound &amp;
                            Outbound)</p>
                    </div>
                </div>
            </div>
        </marquee>
    </div>
</section>