<section class="services-home">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                <div class="header-section">
                    <h3 class="title">WHAT DO WE DO</h3>
                    <h2 class="small-title">We help you to drive growth at your business</h2>
                </div>
            </div>
        </div>
        <div class="row gx-lg-5 gx-sm-2">
            <div class="col-lg-5 col-md-12 col-12 order-lg-1 order-md-2 order-2 my-auto">
                <div class="mt-4 mt-md-4 mt-lg-0">
                    <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/consultation.png" width="130px" alt="">
                    <h4 class="fw-bold pt-3" >Enhance and Expand Your Business Processes</h4>
                    <p class="fs-5">Our experienced Podio Certified consultants specialise in customised Podio consulting, integration, and implementation for a wide variety of industries, ensuring that your CRM strategy is designed and executed professionally, cost-effectively, and with minimal disruption to your business.</p>
            
                </div>
                </div>
            <div class="col-lg-7 col-md-12 col-12 order-lg-2 order-md-1 order-1 my-auto mx-auto">
                <img src="https://www.reipropertyinvest.in/static/media/enhance_expand.b82858048052d6e84bf9.png" width="100%" alt="">
            </div>
        </div>
        <div class="separated my-5"><img src="https://www.reipropertyinvest.in/static/media/line-shape-1.a87f475a418b38091b12c7960e388c16.svg" width="100%" alt=""></div>
          <div class="row gx-lg-5 gx-sm-2">
            <div class="col-lg-5 col-md-12 col-12 order-lg-2 order-md-2 order-2 my-auto">
                <div class="mt-4 mt-md-4 mt-lg-0">
                    <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/horizontal-settings-mixer.png" width="130px" alt="">
                    <h4 class="fw-bold pt-3" >Customize, Optimize and Fine-Tune Your Podio</h4>
                    <p class="fs-5">We know that off-the-shelf Citrix Podio cannot satisfy your unique business needs and is not able to give the desired outcome. It has to be customized. Upon understanding your business needs, we customise and provide Podio solutions at affordable prices. We guarantee operational efficiency and automation in your business.</p>
              
                </div>
                </div>
            <div class="col-lg-7 col-md-12 col-12 order-lg-1 order-md-1 order-1 my-auto mx-auto">
                <img src="https://www.reipropertyinvest.in/static/media/customize.0ffcdeb07802dcbb0942.png" width="100%" alt="">
            </div>
        </div>
    </div>
</section>