<app-navbar head="About us"
    subhead="We create solutions that empower teams to create, innovate, automate, and digitally transform the way their organizations do business">
</app-navbar>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="header-section"><img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/quote.png"
                        width="130" alt="">
                    <h3 class="title">Over 50+ clients</h3>
                    <h2 class="small-title">Best Podio Customization Services Company</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <ul class="nav nav-pills " id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation"><button class="nav-link active" id="pills-home-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
                            aria-controls="pills-home" aria-selected="false" tabindex="-1"><span class=" fw-bold">Our
                                Story</span></button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link" id="pills-profile-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                            aria-controls="pills-profile" aria-selected="false" tabindex="-1"><span
                                class=" fw-bold">Core Values</span> </button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link " id="pills-contact-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab"
                            aria-controls="pills-contact" aria-selected="true"><span class="fw-bold">Our
                                Videos</span></button>
                    </li>
                </ul>
                <div class="tab-content mt-4" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <p class="fs-5">
                            Our journey started way back 6 years ago when we started struggling with Podio, and Podio
                            also kept pace with the advancement in technology.
                        </p>
                        <p class="fs-5">
                            What we discovered at every milestone is to deliver the client the best in class service so
                            that the client never calls us back for any bugs. Today we have reached out to more than 80+
                            Active clients who asked for Podio customization, with 250+ successful jobs done in just the
                            last 2 years.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <p class="fs-5">
                            Our mission is to provide an admirable service to our clients. We take their thinking and
                            business models with deep concern and offer them solutions to achieve that.
                        </p>
                        <p class="fs-5">
                            We understand every customer has their own needs for systems and that is why we are a
                            full-service provider of customised solutions. After having 6+ years of experience, we
                            believe we understand your business more than you do and will do anything to level it up. 😊
                        </p>
                    </div>
                    <div class="tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <p class="fs-5">
                            <span class="fw-bold">“Team work makes the dream work”</span> is what we consider our vision
                            for the past, present, and future.
                        </p>
                        <p class="fs-5">
                            We don’t work with clients; rather, we say we work with partners who continuously strive to
                            scale up their business. It is only we who have used the magic of code and automation to
                            assist them.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="company-results">
    <div class="container">
        <div class="row text-center g-4 ">
            <div class="col-lg-4 col-sm-12 col-12 item"><img
                    src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png"
                    width="130" alt="">
                <h4 class="fw-bold fs-1 pt-3">250+</h4>
                <p class="fs-5">Jobs Done Successfully</p>
            </div>
            <div class="col-lg-4 col-sm-12 col-12 item"><img
                    src="https://www.reipropertyinvest.in/static/media/integration.9b7c3baf4f0d1ad4e75b.png" width="130"
                    alt="" srcset="">
                <h4 class="fw-bold fs-1  pt-3">300+</h4>
                <p class="fs-5">Active Podio Customization Clients</p>
            </div>
            <div class="col-lg-4 col-sm-12 col-12 item"><img
                    src="https://www.reipropertyinvest.in/static/media/automation.5f14e7669169228199d8.png" width="130"
                    alt="">
                <h4 class="fw-bold fs-1  pt-3">50+</h4>
                <p class="fs-5">On REI Property Invest</p>
            </div>

        </div>
    </div>
</section>

<section class="our-team">
    <div class="container">

        <div class="header-section text-center">
        <h3 class="title">OUR AMAZING TEAM</h3>
        <h2 class="small-title">Meet the Magicians Who Work their magic Using these Props!</h2>
    </div>
       
        <div class="row justify-content-center">
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="https://static01.nyt.com/newsgraphics/2020/11/12/fake-people/4b806cf591a8a76adfc88d19e90c8c634345bf3d/fallbacks/mobile-02.jpg" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">KOREY</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2A7V1C5dKAoFyrNlHxJCjN7a1dt_Yc_ATU87bgtC7xHCxtK-1B7qdUBWnMGnnpBvYQeg&usqp=CAU" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">WILLIAM</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="https://media.biobiochile.cl/wp-content/uploads/2019/02/captura-realizada-el-2019-02-25-15-37-02.png" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">STEVEN</h3>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSemkpodQIwBSaqxXAj4Uuj30niXxRF09CB2ONFkBvaYyP1ahvEl6WqDEnr0723k7G-Yzg&usqp=CAU" alt="">
                        <span class="icon">
                            <i class="fa-solid fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">JACKSON</h3>
                   </div>
                </div>
            </div>
            <!-- / End Single Person -->
        </div>  </div>
</section>