.footer{
    background: linear-gradient(90deg, #3847EF, #99E9A5);
    color: #ffffffe7;
}
.section-2 a{
 text-decoration: none;
 color: #ffffffe7;
}
.section-2 a:hover{
    text-decoration: underline;
}