<section class="navbar-section ">
    <div class="container py-5 ">
        <div class="row gx-lg-5 gx-sm-2 d-flex justify-content-center ">
            <div class="col-lg-10 col-md-10 col-12 my-auto text-center aos-init aos-animate" data-aos="zoom-in"
                data-aos-duration="1200" data-aos-delay="200">
                <div class="say">
                    <h1>Ultimate Podio CRM Suite For Real Estate</h1>
                    <p class="fs-4 mt-3">Quick installation &amp; Free customization based upon your business</p>
                    <a href="" class="btn btn-vary1 disabled">One Time Investment</a>
                  
                </div>
            </div>
        </div>
    </div>
</section>