<section class="ceo-says">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-6 col-sm-12 section-1 d-flex justify-content-center align-items-center">
                <img src="https://www.reipropertyinvest.in/static/media/anuj.9197c504ea54ce5966b0.jpg" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 section-2 d-flex justify-content-center align-items-center text-center">
                <div>
                    <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/quote.png" alt="">
                    <h1 class="pt-3">REI Property Invest unleashes the real power of Podio, and automation that allow you to scale your Real Estate business quality.</h1>
                    <h3 class="pt-3">Anuj Kumar Kannojia.</h3>
                    <p class="fs-5">CEO & Founder REI Property Invest</p>
                </div>
                
            </div>
        </div>
    </div>
</section>