
<section class="home">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-lg-8 col-md-8 col-sm-12 col-12 section-1 d-flex justify-content-center align-items-center p-5 vh-100">

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <div class="intro-white">
                                <p class="in-short fs-3">Citrix Podio</p>
                                <h1 class="heading">Customization Services</h1>
                                <p class="para fs-3">Supercharge Your Off-the-shelf Podio. Get your CRM customization done right and maximize your Podio Investment</p>
                                <div><a href="#" class="btn btn-vary1">Get Started</a></div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="intro-white">
                                <p class="in-short fs-3">StreamLine your Business</p>
                                <h1 class="heading">We Not Only Uses Podio, We Put a Cape on It</h1>
                                <p class="para fs-3">We experts can deliver a system specific to your needs, one that moves with your business’s ever-evolving and complex processes.</p>
                                <div><a href="#" class="btn btn-vary1">CONTACT US</a></div>
                            </div>
                        </div>
                        
                    </div>

                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 section-2 d-flex justify-content-center align-items-center py-5 vh-100">
                
                <div class="">
                    <div class="highliter">
                        <h1>PODIO SUITE FOR REAL ESTATE</h1>
                       
                        <p class="fs-5">25+ Podio built-in features that can be customised. Just pay once and system is yours for LIFETIME. We don't charge you MONTHLY.</p>
                        <p class="fs-5">6 months maintenance <span class="blink fw-bolder">FREE FREE FREE !!</span></p>
                        
                    </div>
                    <div class="text-center py-5">
                        <a href="" class="btn btn-vary1">GET IT NOW </a>
                    </div>
                    <div class="text-center">
                        <marquee direction="left">
                            <img src="../../../assets/home/integration-2.svg" width="100%" alt="">

                          </marquee>
                          <marquee direction="left">
                            <img src="../../../assets/home/integration-3.svg" width="100%" alt="">

                          </marquee>
                    </div>
               </div>
               
            </div>
        </div>
    </div>
</section>
<app-get-started></app-get-started>
<app-ceo-says></app-ceo-says>
<app-industry-specific-podio></app-industry-specific-podio>
<app-integration-podio></app-integration-podio>
<app-services-home></app-services-home>
<app-testimonials></app-testimonials>
<app-footer></app-footer>