<section class="home">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-lg-8 col-md-8 col-sm-12 col-12 section-1 d-flex justify-content-center align-items-center p-5 vh-100">

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <div class="intro-white">
                                <p class="in-short fs-3">Lorem ipsum dolor sit.</p>
                                <h1 class="heading"><span>Blow Your</span> Business</h1>
                                <p class="para fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
                                    velit voluptates explicabo maiores perferendis eveniet.</p>
                                <div><a href="#contact-us" class="btn btn-vary1">CONTACT US</a></div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="intro-white">
                                <p class="in-short fs-3">Lorem ipsum dolor sit.</p>
                                <h1 class="heading"><span>Grow Your</span> Business</h1>
                                <p class="para fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
                                    velit voluptates explicabo maiores perferendis eveniet.</p>
                                <div><a href="#contact-us" class="btn btn-vary1">CONTACT US</a></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="intro-white">
                                <p class="in-short fs-3">Lorem ipsum dolor sit.</p>
                                <h1 class="heading"><span>Shape Your</span> Business</h1>
                                <p class="para fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
                                    velit voluptates explicabo maiores perferendis eveniet.</p>
                                <div><a href="#contact-us" class="btn btn-vary1">CONTACT US</a></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 section-2 d-flex justify-content-center align-items-center py-3">
                
                <div class="marquee-container">
                    <div class="highliter">
                        <h1>PODIO SUITE FOR REAL ESTATE</h1>
                        <h1>ONLY AT $1500 !</h1>
                       
                        <p class="fs-5">25+ Podio built-in features that can be customised. Just pay once and system is yours for LIFETIME. We don't charge you MONTHLY.</p>
                        <p class="fs-5">6 months maintenance FREE FREE FREE !!</p>
                    </div>
                <div class="marquee-content pt-3">
                    <marquee behavior="" direction="up" scrollamount="5" [height]="350">
                        <div class="row justify-content-center align-items-center ">
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                            <div class="col"><img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt=""></div>
                      
                        </div>
                    </marquee>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>
<app-get-started></app-get-started>
<app-ceo-says></app-ceo-says>
<app-industry-specific-podio></app-industry-specific-podio>
<app-integration-podio></app-integration-podio>
<app-testimonials></app-testimonials>
<app-footer></app-footer>