

/* interation-about */

.interation-about{
    padding: 90px 0 60px 0;
   
    transform: skewY(361deg);
}

/* integration-apps */


.integration-apps{
    padding: 90px 0 60px 0;
    background: rgb(42, 42, 42);
    color: white;
}
.integration-apps .apps-card {
    width: 500px;
    background-color: #1f1f1f;
}

.integration-apps .apps-card:hover{
    background-color: #0c0c0c84;
}
.integration-apps img {
    height: 150px;
    width: 150px;
    background-color: white;
}
