<!-- <section class="industry-specific-podio">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                <div class="header-section">
                    <h3 class="title"><span>Industry Specific</span> Podio Solutions</h3>
                    <h2 class="small-title">We have vast experience on customizations for various domains</h2>
                </div>
            </div>
        </div>
        <div class="row industry-specific-podio-cards g-4">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/real-estate.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Real Estate CRM</h4>
                        <p class="fs-5">Enables businesses to manage and build stronger relationships with our contacts, such as leads, prospects and existing customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/online-shop-favorite.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Retail CRM</h4>
                        <p class="fs-5">Organizes all of your company's customers and leads so you can easily and trackable stay in touch with them.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/manufacturing.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Manufacturing CRM</h4>
                        <p class="fs-5">Helping manufacturers cut the time required to develop a product or service. Identify opportunities, and close sales more quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/customer-support.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Field Service Management CRM</h4>
                        <p class="fs-5">Helps improve mobile service operations and deliver faster, smarter, more personalized service to the field on one platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/beach-umbrella--v1.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Travel & Hospitality CRM</h4>
                        <p class="fs-5">Build personalized workflows with automation and manage customer's journeys efficiently using the best travel and hospitality solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                <div class="item">
                    <div>
                        <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/solar-energy.png" alt="">
                    </div>
                    <div>
                        <h4 class="fw-bold pt-3">Solar CRM</h4>
                        <p class="fs-5">Lean into your sales goals with end-to-end customer acquisition technology for solar professionals.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="industry-specific-podio">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12 ">
                <p class="fs-3 text-center">Are you tired of limitations of Real Estate CRM tools like InvestorFuse,REI BlackBook etc? Then get a highly flexible Podio CRM which you can customize in any dimension. Automate your real estate service with modules that find leads, provide follow ups, set appointments, send offer letters and close the deal like a true professional. Our Podio Suite is being used by hundreds of Real Estate Investors, wholesalers, brokers and agents to automate their real estate process.</p>
                <div class="d-flex justify-content-center pt-3">
                    <a href="https://podio.com/webforms/28074343/2215116" target="_blank" class="btn btn-vary1">Book a demo</a>
                    <a href="products" class="btn btn-vary2 ms-1">Learn More</a>

                </div>
            </div>
            
        </div>
     
    </div>
</section>