<app-navbar head="PODIO SUITE"
    subhead="The only CRM suite you would need to get your Real Estate Business up and running. Take a look at the brief section below to view all the features of the Podio Suite  ">
</app-navbar>
<section class="podio-crm-suit-apps">
    <div class="container">
        <div class="row justify-content-center mx-lg-5 mx-2 gx-lg-3 gy-lg-3 gx-2 gy-2">
            <div class="col-lg-5 col-md-5 d-flex ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/sms-comment.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>SMS on Comments</span></h6>
                    <p class="fs-5">SMS on Comments for instant messaging to your Leads/Buyers</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex  ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/mail-comment.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Email on Comments</span></h6>
                    <p class="fs-5"> Email on Comments for instant messaging to your Leads/Buyers</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/followup-sequence.png" alt="">
                    </div>
                    <h6 class="fw-bold my-3 fs-5"><span>Followup Sequences</span></h6>
                    <p class="fs-5">Followup Sequences to follow your Leads</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/drip-campeign.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Drip Campaign</span></h6>
                    <p class="fs-5">Drip Campaigns for Emails and Texts</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/street-ariel-view.png" alt="">
                    </div>
                    <h6 class="fw-bold my-3 fs-5"><span>Street and Aerial View</span></h6>
                    <p class="fs-5">Street and Aerial View of the property</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/email-blast.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Email Blasts</span></h6>
                    <p class="fs-5">Email Blasts to send Email Marketing Campaign</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/kpi.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>KPI and Lead Source</span></h6>
                    <p class="fs-5">KPI and Lead Source to track your Campaigns</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/set-appointment.png" alt="">
                    </div>
                    <h6 class="fw-bold my-3 fs-5"><span>Set Appointments</span></h6>
                    <p class="fs-5">Set Appointments with your Leads and get tasks made for your Lead Owners
                        automatically</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/reminder.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Send Reminder SMS/Email</span></h6>
                    <p class="fs-5">Send reminder SMS/Email to your Lead for Appointments</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/patlive.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Patlive App</span></h6>
                    <p class="fs-5">Patlive app for your Cold Callers</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/seperate-app.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Separate App</span></h6>
                    <p class="fs-5">Separate app for your Web Leads</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/sms-logs.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>SMS Log App</span></h6>
                    <p class="fs-5">SMS log app for your all Inbound SMS and reference to Leads/Buyers app</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/call-logs.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Call Logs App</span></h6>
                    <p class="fs-5">Call logs app for your all Inbound/Outbound Calls and reference to Leads/Buyers
                        app</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/email-logs.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Email Logs</span></h6>
                    <p class="fs-5">Email Logs for your Inbound/Outbound Emails</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/note-log.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Notes Logs</span></h6>
                    <p class="fs-5">Notes Logs for all the notes you make are keep intact</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 d-flex   ">
                <div class=" p-4 rounded-3 apps-card">
                    <div class="icon"><img src="../../../assets/podio-crm-apps/feed-app.png" alt=""></div>
                    <h6 class="fw-bold my-3 fs-5"><span>Feeds App</span></h6>
                    <p class="fs-5">Feeds app and Communication Logs to display all the Communications(Inbound &amp;
                        Outbound)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>