<main >
  <div class="section-logo">
      <div class="container">
        <div class="row pt-3  ">
          <div class="col ">
            <img src="https://www.reipropertyinvest.in/static/media/logo.7bb75ce014993021d20b.jpg" alt="">
          </div>
         
        </div>
      </div>
  </div>
  <router-outlet></router-outlet>

<!--Start Sticky Icon--> 
<div class="sticky-icon">
  <a href="" class="home"><img src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/google-home.png" alt="">Home </a>
  <a href="products" class="products"><img src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/unpacking.png" alt="" srcset=""> Product </a>
  <a href="services" class="services"><img src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/gear.png" alt=""> Services </a>
  <a href="about" class="about"><img src="https://img.icons8.com/nolan/512/1A6DFF/C822FF/info.png" alt=""> About </a>
  <a href="pricing" class="pricing"><img src="https://img.icons8.com/nolan/2x/1A6DFF/C822FF/us-dollar-circled.png" alt="" srcset=""> Pricing </a>   
</div>
</main>