<main >
  <div class="section-logo">
      <div class="container">
        <div class="row pt-3  ">
          <div class="col ">
            <img src="https://www.reipropertyinvest.in/static/media/logo.7bb75ce014993021d20b.jpg" alt="">
          </div>
         
        </div>
      </div>
  </div>
  <router-outlet></router-outlet>

<!--Start Sticky Icon--> 
<div class="sticky-icon">
  <a href="https://www.instagram.com/?hl=en" class="Instagram"><i class="fab fa-instagram"></i> Home </a>
  <a href="https://www.facebook.com/" class="Facebook"><i class="fab fa-facebook-f"> </i> Product </a>
  <a href="https://aboutme.google.com/u/0/?referer=gplus" class="Google"><i class="fab fa-google-plus-g"> </i> Services </a>
  <a href="https://www.youtube.com/" class="Youtube"><i class="fab fa-youtube"></i> About </a>
  <a href="https://twitter.com/login" class="Twitter"><i class="fab fa-twitter"> </i> Pricing </a>   
</div>
</main>