<main >
  <div class="section-logo">
      <div class="container">
        <div class="row pt-3  ">
          <div class="col ">
            <img src="https://www.reipropertyinvest.in/static/media/logo.7bb75ce014993021d20b.jpg" alt="">
          </div>
         
        </div>
      </div>
  </div>
  <router-outlet></router-outlet>

<!--Start Sticky Icon--> 
<div class="sticky-icon">
  <a href="" class="Instagram"><i class="fa fa-home"></i> Home </a>
  <a href="product" class="Facebook"><i class="fa fa-product-hunt" aria-hidden="true"></i> Product </a>
  <a href="services" class="Google"><i class="fa fa-cogs" aria-hidden="true"></i> Services </a>
  <a href="about" class="Youtube"><i class="fa fa-info-circle" aria-hidden="true"></i> About </a>
  <a href="pricing" class="Twitter"><i class="fa fa-usd" aria-hidden="true"></i> Pricing </a>   
</div>
</main>