<section class="get-started">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                <div class="header-section">
                    <h3 class="title">GET <span>STARTED</span> IN MINUTES</h3>
                    <h2 class="small-title">We help you to elevate your Real Estate Business using Podio</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div id="accordionFlushExample" class="accordion accordion-flush">
                    <div class="accordion-item">
                        <h2 id="flush-headingOne" class="accordion-header"><button type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne" class="accordion-button collapsed fs-5"> High Skilled Developers</button></h2>
                        <div id="flush-collapseOne" aria-labelledby="flush-headingOne"
                            data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse" style="">
                            <div class="accordion-body  fs-5">
                               <p>We are backed up with a team of experienced and certified Podio developers who help clients get powerful solutions to boost their business productivity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="flush-headingTwo" class="accordion-header"><button type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo" class="accordion-button collapsed fs-5"> On Time Delivery</button></h2>
                        <div id="flush-collapseTwo" aria-labelledby="flush-headingTwo"
                            data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse">
                            <div class="accordion-body  fs-5">
                               <p>Our team ensures timely delivery of the projects. You can get cost efficient and fast-paced custom solutions to help you achieve your business objectives.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 id="flush-headingThree" class="accordion-header"><button type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree" class="accordion-button collapsed fs-5"> Maximum ROI</button></h2>
                        <div id="flush-collapseThree" aria-labelledby="flush-headingThree"
                            data-bs-parent="#accordionFlushExample" class="accordion-collapse collapse">
                            <div class="accordion-body  fs-5">
                             <p>Our team of Podio experts delivers the best Podio CRM application development solutions. We ensure that our clients get the maximum ROI with custom Podio develop services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center g-4">
            <div class="col-lg-3 col-sm-6 item">
                <img src="https://www.reipropertyinvest.in/static/media/cusstomization.3ef061538ea47e20632b.png" alt="">
                <h4 class="fw-bold pt-3">Citrix Podio Customization</h4>
                <p class="fs-5">Modeling your business processes to manage sales channels effectively.</p>
            </div>
            <div class="col-lg-3 col-sm-6 item">
                <img src="https://www.reipropertyinvest.in/static/media/integration.9b7c3baf4f0d1ad4e75b.png" alt=""
                    srcset="">
                <h4 class="fw-bold pt-3">Citrix Podio Integration</h4>
                <p class="fs-5">Customize and integrate with the best business 3rd party applications.</p>

            </div>
            <div class="col-lg-3 col-sm-6 item">
                <img src="https://www.reipropertyinvest.in/static/media/automation.5f14e7669169228199d8.png" alt="">
                <h4 class="fw-bold pt-3">Citrix Podio Automation</h4>
                <p class="fs-5">Make your business automated end to end through our services.</p>

            </div>
            <div class="col-lg-3 col-sm-6 item">
                <img src="https://www.reipropertyinvest.in/static/media/analysis.7e26d29fe39714de1f3c.png" alt="">
                <h4 class="fw-bold pt-3">Citrix Podio Analysis</h4>
                <p class="fs-5">Help you monitor every aspect of your sales cycle and plan targets in the future.</p>

            </div>
        </div>
    </div>
</section>