<section id="testimonials" class="section-testimonials py-5 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-auto mx-auto section-1">
                <div class="header-section">
                    <img src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/quote.png" alt="">

                    <h3 class="title">50+ Happy Clients</h3>
                    <h2 class="small-title">Big Clients
                        Great Reviews</h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div id="carouselExampleControls" data-bs-ride="carousel"
                    class="carousel slide carousel-fade text-center">
                    <div class="carousel-inner">
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5"> Anuj completed the job on time and delivered what we asked for. He actually did additional work from the initial job description and made sure we were completely satisfied.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">EDWARD</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Exceptionally excellent job loading my list in the CRM. I will hire him again for the automation. Particularly good responsive person and always available to respond to the customer.
                                    </p>
                                    <h5 class="mb-3 fs-4 fw-bold">Shad Nojumi</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5"> Anuj is very communicative, he had great ideas that saved me money and made the automations less complex, and he worked very quickly and was quite proactive. </p>
                                    <h5 class="mb-3 fs-4 fw-bold">Jorge</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Anuj did what he promised in Klipfolio which was technically quite hard.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Steve</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Anuj has great ideas... and is great to work with. Has a great sense of business processes and how to implement these with Podio.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Michael</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Great communication and completed the work with very little direction, fast turnaround.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Tina</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Anuj did an excellent job and completed the job fast and efficiently while also walking me through his process working with podio. Will definitely recommend .</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Mike Theisen</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Nice job, thanks for adding the Real Estate app for Podio.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Gal Shani</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <div data-bs-interval="10000" class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8 testimonial-text"><i class="fas fa-quote-left pe-2"
                                        aria-hidden="true"></i>
                                    <p class="fs-5">Anuj has great ideas... and is great to work with. Has a great sense of business processes and how to implement these with Podio.</p>
                                    <h5 class="mb-3 fs-4 fw-bold">Michael</h5>
                                </div>
                            </div>
                            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                                <li><i class="fas fa-star fa-sm" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div><button type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
                        class="carousel-control-prev"><span aria-hidden="true"
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></button><button type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next"
                        class="carousel-control-next"><span aria-hidden="true"
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></button>
                </div>
            </div>
        </div>
    </div>
</section>