<section id="testimonials" class="section-testimonials py-5 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-auto mx-auto section-1">
                <div class="header-section">
                    <h4 class="title">Satisfaction Guaranteed</h4>
                    <h3 class="small-title">Scale your Real Estate business with Podio REI Pro. We are here to help you increase your profits and close more deals using the latest tools and technologies in the field!</h3>
                    <p></p>
                     
                </div>
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-start">
                    <ul class="list-unstyled d-flex justify-content-start text-warning my-auto me-3">
                        <li><i class="fas fa-star fa-2xl" aria-hidden="true"></i></li>
                        <li><i class="fas fa-star fa-2xl" aria-hidden="true"></i></li>
                        <li><i class="fas fa-star fa-2xl" aria-hidden="true"></i></li>
                        <li><i class="fas fa-star fa-2xl" aria-hidden="true"></i></li>
                        <li><i class="fas fa-star-half-alt fa-2xl" aria-hidden="true"></i></li>
                    </ul>  
                    <h2 class="title my-auto">4.7 of 5</h2>
               
                </div>
              
            </div>
        </div>
    </div>
</section>