/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}
p{
    text-align: justify;
}

.btn {
    color: #fff ;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 48px !important;
    padding: 0 40px !important;
    text-align: center !important;
    transition: all .3s ease-in-out !important;
    text-transform: uppercase;
}

.btn-vary1 {
    background: linear-gradient(to right, #e16521, #ffc30edf);
}

.btn-vary1:hover {
    background: linear-gradient(to right, #e16421eb, #ffc30ea1);
}

.btn-vary2 {
    background: white;
    border-color:black;
    border-radius: 2px;
    border-width: 2px;
    color: black;
}

.btn-vary2:hover {
    background: black;
    color: white;
}

.btn-vary3 {
    background: linear-gradient(90deg, #3847EF, #99E9A5);
   color: #fff;
}
.btn-vary3:hover {
    background: #fff;
    color: black !important;
}
.header-section {
    margin-bottom: 50px;
}

 .title {
    margin-bottom: 18px;
    font-size: 58px;
    text-transform: uppercase;
    display: block;
    background: linear-gradient(90deg, #3847EF, #99E9A5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    position: relative;

}

@media screen and (max-width: 600px) {
    .title {
        font-size: 35px;
    }
}

.small-title {
    font-size: 22px;
    color: #0e93ffdf;
    font-weight: 400;
   
    line-height: 1.5em;

    margin: 0px 0px 15px;
    text-transform: capitalize;
}

/* ACCORDIONS */


.accordion-item {
    background: rgb(42, 42, 42);

    color: #ffffffe7;
}

.accordion-item .accordion-button {
    background: linear-gradient(90deg, #3847EF, #99E9A5);
    box-shadow: rgb(2 25 65 / 8%) 0px 8px 8px 0px;
    color: #ffffffe7;
    padding: 30px 10px 30px 20px;
    text-transform: uppercase;
    transform: skewY(361deg);

}

.accordion-item:nth-child(even) {
    margin: 20px 0 20px 0;
}